<h2 class="text-3xl font-bold">
    <span class="text-[#DC0800]">WHO</span>
    <span class="text-[#000000]">WE ARE</span>
</h2>
<p class="text-gray-600 leading-relaxed font-montserrat text-[#000000]">
    Diversity Bridge SCIO is a Scottish charity that connects people and helps those in need. We work to create opportunities and build a Scotland where differences are celebrated. 
</p>

<h3 class="text-2xl font-bebas-neue text-[#000000] mt-6">OUR CHARITABLE PURPOSE</h3>

{% include 'components/mission/goals.html' %}

