<footer class="bg-black py-16">
    <div class="container mx-auto px-4">
        <!-- Row 1: Heading -->
        <div class="text-center mb-8">
            <h2 class="text-4xl md:text-5xl lg:text-6xl font-bebas-neue">
                <span class="text-[#DC0800]" style="color: #a4110b;">HELP</span>
                <span class="text-white">US BUILD THE BRIDGE</span>
            </h2>
        </div>

        <!-- Row 2: Journey text -->
        <div class="text-center mb-12">
            <p class="text-white font-montserrat text-lg max-w-3xl mx-auto" >
                Our journey has just begun, and with your support, we're excited to grow our initiatives and reach even more people in the coming year.
            </p>
        </div>

        <!-- Row 3: Quick Links -->
        <div class="flex flex-col md:flex-row justify-center items-center pt-4 gap-4 md:gap-6" style="padding-top: 30px;">
            <button  class="text-white px-8 py-4 rounded-lg">
            <a href="https://www.justgiving.com/diversitybridgescio" class="bg-[#dc0800] border border-white hover:bg-red-700 text-white font-montserrat px-8 py-3 rounded-full transition-colors duration-300">
                Donate
            </a>
            </button>
            <button  class="text-white px-8 py-4 rounded-lg">

            <a href="https://share-eu1.hsforms.com/1vtdp1CfFQkKU-wGwyuUT7g2ed4r9" class="bg-[#DC0800] border hover:bg-red-700 text-white font-montserrat px-8 py-3 rounded-full transition-colors duration-300">
                Volunteer
            </a>
            </button>
            <button class="text-white px-8 py-4 rounded-lg">

            <a href="https://share-eu1.hsforms.com/1j_CRsK2DTcmhp5I84c-BEA2ed4r9" class="bg-[#DC0800] border hover:bg-red-700 text-white font-montserrat px-8 py-3 rounded-full transition-colors duration-300">
                Become a Partner
            </a>
            </button>
        </div>
    </div>
</footer> 