<section id="hero" class="relative h-[600px] flex items-center">
    <div class="absolute inset-0 z-0 overflow-hidden">
        <img 
            loading="lazy" 
            class="w-full h-full object-cover" 
            src="https://storage.googleapis.com/dvbr_images/D4.jpg" 
            alt="Hero background image"
        />
        <div class="absolute inset-0 bg-gradient-to-r from-black to-red-999/70"></div>
    </div>
    <div class="container mx-auto px-4 relative z-10">
        <div class="grid md:grid-cols-2 gap-12 items-center">
            <div class="space-y-2">
                <h1 class="font-beba font-extralight text-white 8xl" style="font-size: 60px; font-weight: 200">
                    Building Bridges, Breaking Barriers
                </h1>
                <p class="font-bebas font-extralight text-white" style="font-size: 48px; font-weight: 100">
                    A New Vision for Scotland
                </p>
                <div class="flex space-x-4">
                    <button class="bg-white text-red-999 px-8 py-4 rounded-lg hover:bg-gray-100">
                        <a href="https://share-eu1.hsforms.com/1vtdp1CfFQkKU-wGwyuUT7g2ed4r9">Volunteer</a>
                    </button>
                    <button class="border border-white text-white px-8 py-4 rounded-lg hover:bg-white/10">
                        <a href="https://www.justgiving.com/diversitybridgescio"></a>Donate</a>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</section> 